/* Old Windows titlebar - remove this @import if you wish to use default titlebar */
@import url('https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/FZ16moX.gif');
  --background-image-blur: 5px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: url('https://i.imgur.com/hYdTpi0.jpg');
  --popout-image-blur: 0px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: url('https://i.imgur.com/WqsfEAG.jpg');
  --overlay-image-blur: 0px;
  --overlay-image-size: 278%;
  --overlay-image-position: center;
  --home-button-image: url('https://i.imgur.com/YWfFzSw.png');
  --home-button-size: 100%;
  --home-button-position: center;
  --serverlist-brightness: 0.92;
  --left-brightness: 0.8;
  --middle-brightness: 0.72;
  --right-brightness: 0.36;
  --overlay-brightness: 0.64;
  --gradient-primary: 100,0,255;
  --gradient-secondary: 15,25,82;
  --link-colour: #57D0FF;
  --scrollbar-colour: rgb(161,0,255,0.29);
  --gradient-direction: 227deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: Renogare;
  --window-padding: 12px;
  --window-roundness: 32px;
  --update-notice-1: none;
}
